.build_job: &job_build
  stage: build
  artifacts:
    expire_in: 1 hour
    paths:
      - result/*
  tags:
    - docker

.debian_script: &deb_script
  script:
    # to have latest version of gitlab-builpkg-tools
    - apt-get update && apt-get -y dist-upgrade
    # Converting to native package (don't use a tar archive)
    - sed -i "1{s/-1) /$suffix) /}" debian/changelog
    - sed -i 's/3.0 (quilt)/3.0 (native)/' debian/source/format
    - ci-build-pkg

.rhel_script: &rpm_script
  script:
    - yum update -y && yum install epel-release -y
    - ci-build-pkg
      
stages:
 - build
 - sign
 - deploy
 - staging
 - test

before_script:
  - unset http_proxy ; unset https_proxy
  - env | grep ^CI_

# we use YAML anchors to define same parameters for all builds
build_debian_jessie:
  image: buildpkg/debian:jessie
  <<: *job_build
  <<: *deb_script

build_debian_stretch:
  image: buildpkg/debian:stretch
  <<: *job_build
  <<: *deb_script


build_centos_7:
  image: buildpkg/centos:7
  <<: *job_build
  <<: *rpm_script


sign:
  image: buildpkg/debian:stretch
  stage: sign
#  secret variables defined:
#    SIGN_USER: firstname.lastname@example.com
#    GPG_PRIVATE_KEY: `gpg --armor --export-secret-keys firstname.lastname@example.com`
  script:
    - ci-sign-pkg
  dependencies:
    - build_debian_jessie
    - build_debian_stretch
    - build_centos_7
  artifacts:
    expire_in: 1 day
    paths:
      - result/*
  tags:
    - docker

pages:
  image: buildpkg/debian:stretch
  stage: deploy
  variables:
    PAGES_DIR: public/${CI_COMMIT_REF_NAME}
  environment:
    name: PPA
    url: http://${CI_PROJECT_NAMESPACE}.gitlab.io/${CI_PROJECT_NAME}/
  script:
    - ci-pages-ppa
    - ci-pages-home
    - ci-pages-tree
  dependencies:
    - sign
  artifacts:
    paths:
      - public
  tags:
    - docker

install_debian_stretch:
  image: debian:stretch
  stage: staging
  script:
    - dpkg -i result/debian/stretch/*.deb
    - head -1 /var/www/html/README.html
  dependencies:
    - sign
  tags:
    - docker
  only:
    - master

install_debian_jessie:
  image: debian:jessie
  stage: staging
  script:
    - dpkg -i result/debian/jessie/*.deb
    - head -1 /var/www/html/README.html
  dependencies:
    - sign
  tags:
    - docker
  only:
    - master

install_centos_7:
  image: centos:7
  stage: staging
  script:
    - yum localinstall result/centos/7/*.noarch.rpm -y
    - head -1 /var/www/html/README.html
  dependencies:
    - sign
  tags:
    - docker
  only:
    - master

test_runner:
  stage: test
  script:
    - wget https://apoda.inverse:1443/ --no-check-certificate
  tags:
    - glauca
  only:
    - master